html{
    background-color: white;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
}
.App{
    height: 100%;
}
#root{
    height: 100%;
}


.algoButtons{
    margin-top: 20px;
    color: white;
    background-color: black;
    font-size: large;
    border: white;
    height: 40px;
    border-radius: 30px;
    width: 150px;
}

.head{
    background-color: black;
}

.footer {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: row;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3rem;
    background-color:rgba(0,0,0,.74);
    align-items: center;
}

.middleFooterContents{
    border-radius: 10px;
}
.sortButton{
    height: 40px;
    background-color: limegreen;
    color: black;
    border: none;
    width: 90px;
}

.anim{
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    text-align: center; 
    background-color:white;
    flex-wrap: wrap;
    align-content: center;
}

.controls{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0,0,0,.98);
    height: 4rem;
    box-shadow: 0 1px 5px rgba(255,255,255,0.7);
    flex-direction: row;
    align-items: center
}

.labels{
    color: white;
    margin-right: 15px;
}

.newArrayButton{
    background-color: rgba(0,0,0,.98);
    border: none;
    color: rgba(255,255,255,0.9);
}

.newArrayButton:hover{
    color: white;
}

.animContainer{
    height: 72.8%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
}