/*Initial styles*/

html{
    background-color: white;
    height: 100%;
}

body{
    height: 100%;
    overflow: hidden;
}
.App{
    height: 100%;
    /* cursor: url(grey_pointer.png), auto; */
}
#root{
    height: 100%;
}

button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
  }

/*Header styles*/

.algoButtons{
    color: white;
    background-color: black;
    font-size: 2.4vh;
    border: white;
    height: 70%;
    border-radius: 30px;
    width: 150px;
    /* padding: 20px 50px; */
    position:relative;
    cursor: url(grey_pointer.png), auto;
}

.algoButtons::after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:
      radial-gradient(farthest-side, 
      rgba(0, 255, 128, 0.6)  calc(100% - 1px),
       transparent 0%) 
       fixed /* Fixed to the screen*/ 
       no-repeat; /* Don't repeat*/
    background-size:30px 30px;
    background-position:inherit;
  }

.head{
    background-color: black;
    display: flex;
    align-items: center;
    height:9.5%;
    position:relative;
}

/* .head::after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:
      radial-gradient(farthest-side, 
      rgba(0, 255, 128, 0.6)  calc(100% - 1px),
       transparent 0%) 
       fixed
       no-repeat;
    background-size:30px 30px;
    background-position:inherit;
  } */

/*Sub Header styles*/

.controls{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0,0,0,.98);
    height: 9%;
    box-shadow: 0 1px 5px rgba(255,255,255,0.7);
    flex-direction: row;
    align-items: center
}


.labels{
    color: white;
    margin-right: 15px;
}

.newArrayButton{
    background-color: rgba(0,0,0,.98);
    border: none;
    color: rgba(255,255,255,0.9);
}

.newArrayButton:hover{
    color: white;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
.slider {
    -webkit-appearance: none;
    width: 135px;
    height: 8px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
}

/*Footer styles*/

.footer {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: row;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6.8%;
    background-color:#424242;
    align-items: center;
}

.sortButton{
    height: 85%;
    background-color: limegreen;
    color: black;
    border: none;
    width: 90px;
    cursor: url(../src/Pointer/grey_pointer.png), pointer;
}

/*Animation ground styles*/

.animContainer{
    height: 74.7%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
}

.anim{
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center; 
    background-color:white;
    align-content: space-between;
}

.bar{
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
}

.extra{
    /* cursor: url(t3.png) 20 10, auto !important; */
    cursor: none !important;
}