html{
    background-color: white;
}

.algoButtons{
    margin-top: 20px;
    color: white;
    background-color: black;
    font-size: large;
    border: white;
    height: 40px;
    border-radius: 30px;
    width: 150px;
}

.head{
    background-color: black;
}

.footer {
    position: absolute;
    /*width: 100%;*/
    left: 0;
    right: 0;
    bottom: 0;
    height: 3rem;
    background-color:rgba(0,0,0,.74);
    align-content: center;
}

.leftFooterContents{
    /*position: absolute;*/
    /*bottom: 17px;*/
    /*text-align: justify;*/
    /*margin-left: 10px;*/
    margin-top: 5px;
    height: 40px;
}

.middleFooterContents{
    /*margin-left: 50%;*/
    /*position: absolute;*/
    /*bottom: 5px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin-top: 2px;
    border-radius: 10px;
}

.rightFooterContents{
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    color: grey;
    background-color: white;
    height: 40px;
    border: none;
    border-radius: 30px;
}

.sortButton{
    height: 40px;
    background-color: limegreen;
    color: black;
    border: none;
    width: 90px;
}

/*.footerLabel{*/
/*    font-size: 18px;*/
/*}*/

/*.slider{*/
/*    margin-left: 12px;*/
/*}*/

.anim{
    height: 100%;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.controls{
    background-color: black;
    box-shadow: 4 1px 5px #fff;
    margin-top: 1px;
}
